Importing Library

In [1]:
import numpy as np
import pandas as pd

In [2]:
np. random.seed(42)

In [3]:
#number of samples
n_sample=2000

In [8]:
#generate the data

data=pd.DataFrame({
    'Bedrooms':np.random.randint(low=0,high=5,size=n_sample),
    'Area':np.random.randint(low=1000,high=5000,size=n_sample),
    'Bathrooms':np.random.randint(low=0,high=5,size=n_sample),
    'ParkingSpaces':np.random.randint(low=0,high=5,size=n_sample),
    'Age':np.random.randint(low=1,high=70,size=n_sample),
    'Price':np.random.randint(low=100000,high=1000000,size=n_sample),
    'Location':np.random.choice(['Kolkata','Bhopal', 'Goa']),

})

In [9]:
print(data)

      Bedrooms  Area  Bathrooms  ParkingSpaces  Age   Price Location
0            4  4468          3              4   15  100357  Kolkata
1            0  1144          1              1    3  334788  Kolkata
2            4  3634          3              2   24  463682  Kolkata
3            1  4770          2              1   41  747059  Kolkata
4            0  3569          4              2   63  510018  Kolkata
...        ...   ...        ...            ...  ...     ...      ...
1995         0  1256          3              1    5  513600  Kolkata
1996         1  4914          0              2   22  170081  Kolkata
1997         2  4333          4              1   28  629627  Kolkata
1998         2  3134          0              4    4  421631  Kolkata
1999         4  1904          3              1   50  616960  Kolkata

[2000 rows x 7 columns]

In [10]:
#calculating price

data['price']=(
    8000+ data['Bedrooms']*4000+ data['Bathrooms']*1000 + data['Area']*60 - data['Age']*500+ 
    np.where(data['Location']=='Kolkata',200000, np.where(data['Location']=='Goa',1000000,200000)) + data['ParkingSpaces']*40000+ np.random.normal(0,2000,n_sample)
)

In [12]:
print(data['price'])

0       649846.370828
1       314484.982655
2       513847.634788
3       520157.658718
4       475271.479127
            ...
1995    327604.641681
1996    574627.861642
1997    503740.420249
1998    563243.220965
1999    353636.503756
Name: price, Length: 2000, dtype: float64

In [13]:
data.to_csv("house_prices_synthetic.csv", index=False)

print('dataset created and sace')

dataset created and sace